<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>How to use</h1>
    <ul>
        <li>
            <strong>Adding Items:</strong> Click on the buttons to add different items to the stage. You can add chairs,
            conductors, drum kits, music stands, microphones, and stools. By default, stools, chairs and music stands
            will not have names.
            click on a layout name to load it onto the stage.

        </li>
        <li>
            <strong>Naming Items:</strong> You can name the items by right-clicking on them. A prompt will appear asking
            for the name. Enter the desired name and click "OK". The name will be displayed on the item. This new name
            will overwrite the previous name if it exists (ie. conductors, drum kits, mics).
        </li>
        <li>
            <strong>Loading Layouts:</strong> Click the "Refresh Layouts" button to load the saved layouts. You can then
        </li>
        <li>
            <strong>Saving Layouts:</strong> Enter a name for the layout in the input box and click the "Save Layout"
            button. The layout will be saved with the specified name.
        </li>
    </ul>
</body>

</html>
