<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>

<body>
    <h1>How to use the concert stage management</h1>
    <ul>
        <li>
            <strong>Adding Items:</strong> Click on the buttons to add different items to the stage. You can add chairs,
            conductors, drum kits, music stands, microphones, and stools. By default, stools, chairs and music stands
            will not have names.
            click on a layout name to load it onto the stage.
        </li>
        <li>
            <strong>Naming Items:</strong> You can name the items by right-clicking on them. A prompt will appear asking
            for the name. Enter the desired name and click "OK". The name will be displayed on the item. This new name
            will overwrite the previous name if it exists (ie. conductors, drum kits, mics).
        </li>
         <li>
            <strong>Moving Items:</strong> Click and drag an item to move it around the stage. You can also right-click
            on an item to delete it.
        </li>
        <li>
            <strong>Loading Layouts:</strong> Click the "Refresh Layouts" button to load the saved layouts. You can then
            click on a layout name to load it onto the stage. This will replace the current items on the stage with the
            items from the selected layout (if your stage is not saved, it will be lost!).
        </li>
        <li>
            <strong>Saving Layouts:</strong> Enter a name for the layout in the input box and click the "Save Layout"
            button. The layout will be saved with the specified name.
        </li>
        <li>
            <strong>Deleting Layouts:</strong> Click the "Delete" button next to a layout name to delete that layout. This
            will remove the layout from the list and delete it from the server.
        </li>
    </ul>
</body>
</html>
